// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 300px,
  md: 640px,
  lg: 880px,
  xl: 1430px
);

$container-max-widths: (
  xs: 440,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px,
);


$enable-rounded: false;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import